In [1]:
import src.utils.data.parse as p

In [2]:
import pandas as pd
from langdetect import detect
from nltk.corpus import stopwords
import nltk

In [3]:
stop_words = set(stopwords.words('english'))

In [4]:
data_path = 'src\\utils\\data\\coleridgeinitiative-show-us-the-data\\'

In [5]:
def omit_by(dct, predicate=lambda x: x!=0 and not x):

    return {k: v for k, v in dct.items() if not predicate(v)}
def detect_lang(text):
    return detect(text)
def return_common_stop_words(dataset_title):
    if bool(set(dataset_title.split())&stop_words):
        return [(set(dataset_title.split())&stop_words)]
    return ["None"]
    
parser = p.ParseUtils

In [6]:
dataset =parser.get_train_df()

In [27]:
dataset['content'] = dataset.apply(lambda x: parser.parse_json(x.Id,"content"),axis=1)
dataset['lang'] =  dataset.apply(lambda x: detect_lang(x.content),axis=1)
dataset['stop_words'] = dataset.apply(lambda x:return_common_stop_words(x.dataset_label),axis=1)

In [7]:
dataset.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study

In [17]:
dataset['lang'].value_counts()

en    19642
es        5
tr        4
fr        2
sq        2
hu        2
de        2
af        1
ca        1
Name: lang, dtype: int64

In [8]:
dataset['cleaned_label'].value_counts()

adni                                                                                                       3673
alzheimer s disease neuroimaging initiative adni                                                           2400
trends in international mathematics and science study                                                      1163
baltimore longitudinal study of aging                                                                      1156
early childhood longitudinal study                                                                         1011
                                                                                                           ...
national oceanic and atmospheric administration c cap                                                         1
national weather service nws storm surge risk                                                                 1
nsf ffrdc research and development survey                                                                     1
national center for science and engineering statistics higher education research and development survey       1
cas covid 19 antiviral candidate compounds data                                                               1
Name: cleaned_label, Length: 130, dtype: int64

In [12]:
all_labels=dataset['cleaned_label'].unique()

In [24]:
"new" in all_labels[0].split(" ")

False

In [25]:
stop_words_counts = {}
for stop in stop_words:
    for label in all_labels:
        if stop not in stop_words_counts.keys():
            if stop in label.split(" "):
                stop_words_counts[stop]=1
        else:
            if stop in label.split(" "):
                stop_words_counts[stop]+=1
print(stop_words_counts)

{'for': 10, 'in': 11, 'from': 1, 'our': 3, 's': 3, 'on': 3, 'of': 40, 'your': 2, 'the': 3, 'and': 34}

In [29]:
dataset['stop_words'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[None]                  13346
[{of}]                   4014
[{and, in}]              1163
[{and}]                   407
[{in}]                    223
[{of, and}]               117
[{for}]                   106
[{of, and, in}]            84
[{the, of, for}]           65
[{of, for}]                55
[{and, on}]                44
[{of, on}]                 22
[{of, and, for}]            7
[{and, from}]               6
[{and, for}]                1
[{of, and, for, in}]        1
Name: stop_words, dtype: int64

In [30]:
dataset.to_csv('processed_csv')