In [2]:
import src.utils.data.parse as p

In [3]:
import pandas as pd
from langdetect import detect
from nltk.corpus import stopwords
import nltk

In [4]:
stop_words = set(stopwords.words('english'))

In [6]:
data_path = 'src\\utils\\data\\coleridgeinitiative-show-us-the-data\\'

In [26]:
def omit_by(dct, predicate=lambda x: x!=0 and not x):

    return {k: v for k, v in dct.items() if not predicate(v)}
def detect_lang(text):
    return detect(text)
def return_common_stop_words(dataset_title):
    if bool(set(dataset_title.split())&stop_words):
        return [(set(dataset_title.split())&stop_words)]
    return ["None"]
    
parser = p.ParseUtils

In [11]:
dataset =parser.get_train_df()

In [27]:
dataset['content'] = dataset.apply(lambda x: parser.parse_json(x.Id,"content"),axis=1)
dataset['lang'] =  dataset.apply(lambda x: detect_lang(x.content),axis=1)
dataset['stop_words'] = dataset.apply(lambda x:return_common_stop_words(x.dataset_label),axis=1)

In [28]:
dataset.head()

,Id,pub_title,dataset_title,dataset_label,cleaned_label,content,lang,stop_words
0,d0fa7568-7d8e-4db9-870f-f9c6f668c17b,The Impact of Dual Enrollment on College Degre...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This study used data from the National Educati...,en,[None]
1,2f26f645-3dec-485d-b68d-f013c9e05e60,Educational Attainment of High School Dropouts...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Dropping out of high school is not necessarily...,en,[None]
2,c5d5cd2c-59de-4f29-bbb1-6a88c7b52f29,Differences in Outcomes for Female and Male St...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,"., stress satisfactory outcomes for all youth,...",en,[None]
3,5c9a3bc9-41ba-4574-ad71-e25c1442c8af,Stepping Stone and Option Value in a Model of ...,National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,Federal Reserve Bank of Richmond S1. Accountin...,en,[None]
4,c754dec7-c5a3-4337-9892-c02158475064,"Parental Effort, School Resources, and Student...",National Education Longitudinal Study,National Education Longitudinal Study,national education longitudinal study,This article investigates an important factor ...,en,[None]

In [17]:
dataset['lang'].value_counts()

en    19642
es        5
tr        4
fr        2
sq        2
hu        2
de        2
af        1
ca        1
Name: lang, dtype: int64

In [29]:
dataset['stop_words'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[None]                  13346
[{of}]                   4014
[{and, in}]              1163
[{and}]                   407
[{in}]                    223
[{of, and}]               117
[{for}]                   106
[{of, and, in}]            84
[{the, of, for}]           65
[{of, for}]                55
[{and, on}]                44
[{of, on}]                 22
[{of, and, for}]            7
[{and, from}]               6
[{and, for}]                1
[{of, and, for, in}]        1
Name: stop_words, dtype: int64